

@media screen and (max-width:420px) {
    .inicioFruits{
        background-size: 100% 100%;
        height: 80vh;
    }
}

@media  only screen and (max-width:1075px) {

   .ContainerProductos{
       flex-direction: column;
       align-items: center;
       justify-content: space-around;
   }

   .Fruits{
    display: flex;
    width: 250px;
    height: 250px;
    margin-top: 6%;
   }

   .Vegetables{
    
    display: flex;
    width: 250px;
    height: 250px;
    margin: 10% 0 10% 0;
   }

   .buttonVegetable {
    display: flex;
    align-items: center;
    margin: 45% 5% 0px 15%;
}

.buttonFruit{
    margin: 65% 0 0 35%;
    padding: 2%;
}


/*FOOTER*/
.cajitafooter .frase {
    color: rgb(119, 231, 98);
    font-size: 11pX;
}

.cajitafooter{
    width: 50%;
}

.cajitafooter img{
    margin-left: 3%;
     width: 50px;
}

.RedesSociales{
margin-top: 2%;
width: 47%;
justify-content: flex-end;
display: flex;
    }

.RedesSociales img{
    margin-right: 10px;
    width: 19px;
    
}

}