@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
/*font-family: 'Playfair Display', serif;*/



#Productos{
    background-color: #7DAC46;
    height: 100vh;
    width: 100%;
}

.ContainerProductos{
    padding: 5% 0 15% 0;
    display: flex;
    height: 100%;
    justify-content: space-between;
}


/*ESTILOS DE FRUTAS*/
.ImgFruits{
    background-image: url('/utils/images/Products/Fruits/Botones/Frutas.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.fruits{
    margin: 0 5% 0 10%;

    overflow: hidden;
    border-radius: 50%;
    width: 60%;
    height: 65%;
    background:#EFD5D5;

}


/*ESTILOS DE VEGETALES */

.ImgVegetables{
    background-image: url('/utils/images/Products/Vegetables/BOTONES/verduras.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 50%;
}

.vegetables{
    margin: 0 10% 0 5%;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    opacity: 50%;
    width: 60%;
    height: 65%;
    background:#F3FCBE;
}

/*ESTILOS DE BOTONES*/

.buttonVegetable{
    display: flex;
    justify-content: center;
    margin:45% 0 10% 30%;
    padding: 2%;
	border-radius: 5px;
	font-size: 30px;
    font-weight: bold;
	font-family: 'Playfair Display', serif;
    text-transform: uppercase;
	letter-spacing: 5px;
	border: none;
    outline: none;
	color:#151614;
    background: linear-gradient(304deg, rgba(76, 245, 127, 0.696) 16%, rgba(22, 218, 87, 0.749) 60%);
}

.buttonFruit{
    margin:45% 0 0 35%;
    padding: 2%;
	border-radius:5px;
	font-size: 30px;
    font-weight: bold;
	font-family: 'Playfair Display', serif;
    text-transform: uppercase;
	letter-spacing: 5px;
	border: none;
    outline: none;
	color:black;
    background:linear-gradient(304deg,rgba(250, 147, 147,0.696)  16%, rgba(250, 147, 147,0.696)60%); ;
}

.buttonVegetable:hover{
    background:rgba(76, 245, 127);
}

.buttonFruit:hover{
    background: rgba(250, 147, 147) ;
}

.ImgFruits a{
    text-decoration: none;
}

.ImgVegetables a{
    text-decoration: none;
}

