
@media (max-width:410px){

    .Logo img{
        margin-top: 155%;
        width: 80%;
    }

}



@media (max-width:980px){

    .Logo img{
        margin-top: 20%;
        width: 80%;
    }

    .Scroll{
        margin-top: 15%;
       display: flex;
      justify-content: center;
    }
    

    .Scroll img{
        width: 70%;
    }




    
}