
@media (max-width:768px){

    .Logo img{
        margin-top: 20%;
        width: 80%;
    }

    .Scroll{
        margin: 25px;
       display: flex;
      justify-content: center;
    }
    

    .Scroll img{
        width: 50%;
    }
}