*{
    margin: 0;
    padding: 0;
}
/* ESTILOS DEL HOME*/

.ContainerHome{
    width: 100%;
}
.ImagenFondo{
    background-image: url("../../../utils/images/Home/paisaje.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
}

/* estilos de la iamgen del logo*/

.Logo{
    display: flex;
    justify-content: center;
}

.Logo img{
    display: flex;
    margin-top: 8%;
    width: 600px;
}

/* estilos del scroll */

.Scroll{
    margin: 15px;
  display: flex;
  justify-content: center;
  transition: all 0.5s;
}

.Scroll img{
    width: 70%;
    margin: 15%;
}

/* ESTILOS DE QUIENES SOMOS*/

#QuienesSomos{
    height: 100vh;
    border:2px solid red;
}