@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
/*font-family: 'Playfair Display', serif;*/
@import url('https://fonts.googleapis.com/css2?family=Alice&display=swap');
/*font-family: 'Alice', serif;*/

body,html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.contenedorNoticias{
    padding-top: 50px;
    width: 100%;
    height: 100%;
    background-color: #4C7638;
}

.noticiasTitle{
    display: flex;
    justify-content: center;
    margin: 3%;
}

.noticiasTitle h1{
    background-color: #02250F;
    padding: 2%;
    border-radius: 10px;
    color: #fff;
    font-size: 35px;
    font-family: 'Playfair Display', serif;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.cardsNoticias{
    display: grid;
    grid-template-columns: repeat(5, 0.5fr);
    grid-template-rows: repeat(2, 0.5fr);
    gap: 10px;
    margin: 15px;
}

.noticia-1, .noticia-2, .noticia-3 , .noticia-4, .noticia-5,
 .noticia-6{
     padding: 18px;
}

/* ESTILO DEL MODAL*/
 .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 20px; /* Location of the box */
    padding-bottom: 10px;
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(3, 31, 12, 0.8); /* Fallback color */
  }
  
  /* Modal Content */
  .modal-content, .modal-contentC {
    border-radius: 5px;
    background-color: #fefefe;
    margin: auto;
    border: 1px solid #02250f;
    width: 80%;
    padding: 30px 30px;
    height: auto;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2) ;
  }
  
  /* The Close Button */
  .close, .close2, .close3, .close4, .close5, .close6, 
  .closeC1, .closeC2, .closeC3, .closeC4, .closeC5,.closeC6, .closeC7, .closeC8, .closeC9, .closeC10, .closeC11, .closeC12
{
    color: #02250f;
    float: right;
    display: flex;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
}
  
  .close:hover, .close2:hover, .close2:focus,
  .close:focus, .close3:hover, .close3:focus,
  .close4:hover, .close4:focus,
  .close5:hover, .close5:focus{
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

  .modal-content h1{
    font-family: 'Playfair Display', serif;
    letter-spacing: 2px;
    font-size: 35px;
    color:#02250f;
    text-transform: uppercase;
    text-shadow: 2px 3px rgba(0, 0, 0, 0.2);
  }


  .modal-contentC h1{
    font-family: 'Playfair Display', serif;
    letter-spacing: 2px;
    font-size: 35px;
    text-align: center;
    color:#02250f;
    text-shadow: 2px 3px rgba(0, 0, 0, 0.2);
    text-transform: uppercase;
  }

  .modal-content p{
    font-family: 'Alice', serif;
    font-size: 23px;
    margin-top: 20px;
    text-align: justify;
  }
  .modal-contentC p{
    font-family: 'Alice', serif;
    font-size: 23px;
    margin-top: 20px;
    text-align: justify;
  }


/* ESTILOS PARA NOTICIA 1*/

.noticia-1{
    grid-row: 1/3;
    background-color: #02250f96;
    box-shadow: 2px 2px rgba(0, 0, 0, 0.2);
}

.titleNoticia-1{
    margin: 15px 10px 10px 0;
    display: flex;
    justify-content: center;
}

.titleNoticia-1 h2{
    font-family: 'Playfair Display', serif;
    letter-spacing: 2px;
    font-size: 27px;
    color: #F7EDFF;
    text-transform: uppercase;
}

.masInfo{
    font-family: 'Alice', serif;
    border-radius: 5px;
    padding: 10px 25px;
    margin: 3% 2% 0 0;
    background-color: rgba(0, 0, 0, 0.9);
    border: 2px solid #77E762;
}

.abrir-1, .abrir-2, .abrir-3, .abrir-4, .abrir-5, .abrir-6{
    margin-top: 15px;
    display: flex;
    justify-content: center;
}

#myBtn, #myBtn2, #myBtn3,  #myBtn4,  #myBtn5, #myBtn6 {
    background-color: rgba(0, 0, 0, 0.9);
    border: 2px solid #77E762;
    color: #fff;
    font-size: 18px;
    margin-top: 20px;
    padding: 3%;
    width:100px;
    font-family: 'Alice', serif;
    cursor: pointer;
}

.textNoticia-1{
    margin: 15px 7px 7px 0;
    text-align: justify;
    font-family: 'Alice', serif;
    font-size: 20px;
    color: white;
}

.textNoticia-2{
    margin: 15px 7px 7px 0;
    text-align: justify;
    font-family: 'Alice', serif;
    font-size: 20px;
    color: black;
}
.masInfo a{
    color: #fff;
    font-size: 20px;
    text-decoration: none;
}

.abrir-1{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.imageNotice1{
    display: flex;
    justify-content: center;
}
.imageNotice1 img{
    width: 35%;
    box-shadow: 2px 4px rgba(0, 0, 0, 0.2);
}
.finModal{
    display: flex;
    justify-content: center;
} 

/* ESTILOS PARA NOTICIA-2*/
.noticia-2{
    background-color: white;
    box-shadow: 2px 2px rgba(0, 0, 0, 0.2);
    grid-column: 2/4;
}

.titleNoticia-2 h2{
    font-family: 'Playfair Display', serif;
    letter-spacing: 2px;
    font-size: 27px;
    color: #02250f;
    text-transform: uppercase;
}

.imageNotice2{
    display: flex;
    justify-content: center;
}
.imageNotice2 img{
    width: 35%;
}

/* ESTILOS PARA NOTICIA 3*/

.noticia-3{
    background-color: #02250f96;
    box-shadow: 2px 2px rgba(0, 0, 0, 0.2);
    grid-column: 4/6;
}

.titleNoticia-3 h2{
    font-family: 'Playfair Display', serif;
    letter-spacing: 2px;
    font-size: 27px;
    color: #fff;
    text-transform: uppercase;
}

.imageNotice3{
    display: flex;
    justify-content: center;
}
.imageNotice3 img{
    width: 35%;
}

/* ESTILOS PARA NOTICIA*/

.noticia-4{
    background-color: #02250F;
    box-shadow: 2px 2px rgba(0, 0, 0, 0.2);
    grid-column: 3/4;
    grid-row: 2/3;
}

.titleNoticia-4 h2{
    font-family: 'Playfair Display', serif;
    letter-spacing: 2px;
    font-size: 23px;
    color: #77E762;
    text-transform: uppercase;
}

.textNoticia-4{
    margin: 15px 7px 7px 0;
    text-align: justify;
    font-family: 'Alice', serif;
    font-size: 20px;
    color: #fff;
}

.textNoticia-4 p{
    color: #fff;
    font-size: 20px;
}

.imageNotice4 {
    display: flex;
    justify-content: center;
}

.imageNotice4 img{
    width: 35%;
}

/* NOTICIA 5*/ 

.noticia-5{
    background-color: #02250F;
    grid-column:2/3;
    box-shadow: 2px 2px rgba(0, 0, 0, 0.2);
}

.titleNoticia-5 h2{
    font-family: 'Playfair Display', serif;
    letter-spacing: 2px;
    font-size: 23px;
    color: #fff;
    text-transform: uppercase;
}

.textNoticia-5{
    margin: 15px 7px 7px 0;
    text-align: justify;
    font-family: 'Alice', serif;
    font-size: 20px;
    color: #77E762;
}

.imageNotice5 {
    display: flex;
    justify-content: center;
}

.imageNotice5 img{
    width: 35%;
}

/* NOTICIA 6*/

.noticia-6{
    background-color: #FFF;
    box-shadow: 2px 2px rgba(0, 0, 0, 0.2);
    grid-column: 4/6;
    grid-row: 2/3;
}

.titleNoticia-6 h2{
    font-family: 'Playfair Display', serif;
    letter-spacing: 2px;
    font-size: 25px;
    color: #02250F;
    text-transform: uppercase;
}

.textNoticia-6{
    margin: 15px 7px 7px 0;
    text-align: justify;
    font-family: 'Alice', serif;
    font-size: 20px;
    color:black;
}

.imageNotice6 {
    display: flex;
    justify-content: center;
}

.imageNotice6 img{
    width: 35%;
}

/* ESTILOS PARA LAS COSECHAS*/

.contenedorCosechas{
    background-color: #02250F;
    width: 100%;
    height: 100%;
    border-bottom: 15px solid #02250F;
}

.cosechasTitle {
    display: flex;
    justify-content: center;
    margin: 3%;
}
.cosechasTitle h1 {
    background-color: #fff;
    padding: 2%;
    border-radius: 10px;
    color: #02250F;
    font-size: 35px;
    font-family: 'Playfair Display', serif;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.contCosechas{
    background-image: url(../../utils/images/Noticias/Cosechas/fondoCosechas.png);
    background-size: 100% 100%;
    height: 100vh;
    width: auto;
    margin: 20px;
    display: grid;
    gap: 10px;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.productosCosecha1, .productosCosecha2, .productosCosecha3, .productosCosecha4, .productosCosecha5, .productosCosecha6,
.productosCosecha7, .productosCosecha8, .productosCosecha9, .productosCosecha10, .productosCosecha11, .productosCosecha12,
.productosCosecha {
    background-color: black;
    width: 150px;
    display: flex;
    height: 150px;
    border-radius: 50%;
    padding: 10px;
    margin: 10px 75px;
    background-size: 100% 100%;
    cursor: pointer;
}

#myBtnC1, #myBtnC2, #myBtnC3, #myBtnC4, #myBtnC5, #myBtnC6, #myBtnC7, 
#myBtnC8, #myBtnC9, #myBtnC10, #myBtnC11, #myBtnC12{
    background: none;
    border: none;
}

.productosCosecha1{
    background-image: url(../../utils/images/Noticias/Cosechas/cebolla.jpg);
}

.productosCosecha2{
    background-image: url(../../utils/images/Noticias/Cosechas/fresas.jpg);
}

.productosCosecha3{
    background-image: url(../../utils/images/Noticias/Cosechas/zanahoria.jpg);
}

.productosCosecha4{
    background-image: url(../../utils/images/Noticias/Cosechas/limons.jpg);

}
.productosCosecha5{
    background-image: url(../../utils/images/Noticias/Cosechas/tomates.jpg);
}

.productosCosecha6{
    background-image: url(../../utils/images/Noticias/Cosechas/Lulo.jpg);
}

.productosCosecha7{
    background-image: url(../../utils/images/Noticias/Cosechas/naranja.jpg);
}

.productosCosecha8{
    background-image: url(../../utils/images/Noticias/Cosechas/yuca.jfif);
}

.productosCosecha9{
    background-image: url(../../utils/images/Noticias/Cosechas/mora.jpg);
}

.productosCosecha10{
    background-image: url(../../utils/images/Noticias/Cosechas/papa.jpg);
}
.productosCosecha11{
    background-image: url(../../utils/images/Noticias/Cosechas/mango.jpg);
}

.productosCosecha12{
    background-image: url(../../utils/images/Noticias/Cosechas/mazorca.jpg);
}

.imageNoticeC{
    display: flex;
    justify-content: center;
}

.imageNoticeC img{
    width: 35%;
    border-radius: 15px;
}

/* ESTILOS PARA EL CONTENEDOR DE LAS RECOMENDACIONES*/

.contenedorRecomendaciones{
    width: 100%;
    height: 100%;
    background-color: #7DAC4E;
    padding: 40px 80px;  
}

/*ESTILOS DEL FOOTERr*/

footer{
    border-top: 5px solid rgb(145, 236, 145);
    background-color:#08110b;
    height: 20%;
    width: 100%;
    display: flex;
}

.cajitafooter{
    padding: 1%;
    display: flex;
    justify-content: flex-start;
}

.cajitafooter img{
margin-left: 3%;
 width: 7%;
}

.cajitafooter .frase{
    color: #77e762;
    font-size: 18px;
    font-family: 'Playfair Display', serif;
    text-transform: uppercase;
    margin: 2% 0 0 2%;
}

.RedesSociales{
margin-top: 2%;
width: 47%;
justify-content: flex-end;
  display: flex;
}

.RedesSociales img{
    margin-right: 10px;
    width: 32px;
}


.RedesSociales a{
    border-radius: none;
    color: none;
    text-decoration: none;
}

.frase{
    margin-left: 50%;
}

/* --------------------------------------------RESPONSIVE-------------------------------------------------------------------------*/

@media  only screen and (max-width:1075px) {

    /*FOOTER*/
    .cajitafooter .frase {
       color: rgb(119, 231, 98);
       font-size: 11pX;
    }
    
    .cajitafooter{
       width: 50%;
    }
    
    .cajitafooter img{
       margin-left: 3%;
        width: 50px;
    }
    
    .RedesSociales{
    margin-top: 2%;
    width: 47%;
    justify-content: flex-end;
    display: flex;
       }
    
    .RedesSociales img{
       margin-right: 10px;
       width: 19px;
       
    }
    
    }
/*PARA CELULARES*/

@media only screen and (max-width:420px) {
    .cardsNoticias{
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(700px 500px 700px 700px 700px 700px);
        gap: 15px;
        margin: 15px;
    }
    
    /* PARA LOS MODALES*/
    .modal-content h1 {
        font-size: 25px;
    }

    .modal-contentC h1{
        font-size: 25px;
    }
    .modal-content p {
        font-size: 15px;
    }
    .modal-contentC p {
        font-size: 15px;
    }

    /* noticia 1*/
    .noticia-1{
        grid-row: 1/1;
        grid-column: 1/3;
        background-color: #02250f96;
        box-shadow: 2px 2px rgba(0, 0, 0, 0.2);
    }
    .titleNoticia-1 h2 {
        font-size: 20px;
    }
    .textNoticia-1 {
        font-size: 18px;
    }
    /* NOTICIA 2*/

    .noticia-2 {
        background-color: white;
        box-shadow: 2px 2px rgb(0 0 0 / 20%);
        grid-column: 1/3;
        grid-row: 2/3;
    }

    .titleNoticia-2 h2 {
        font-size: 20px;
    }

    /* NOTICIA 3*/

    .noticia-3 {
        grid-column: 1/3;
        grid-row: 3/4;
    }

    .titleNoticia-3 h2 {
        font-size: 20px;
    }

    /* NOTICIA 4*/

    .noticia-4 {
        background-color: #02250F;
        box-shadow: 2px 2px rgb(0 0 0 / 20%);
        grid-column: 1/3;
        grid-row: 4/5;
    }

    .titleNoticia-4 h2 {
        font-size: 20px;
    }
    .textNoticia-4 {
        font-size: 18px;
    }

    /* NOTICIA 5*/

    .noticia-5 {
        grid-column: 1/3;
    }

    .titleNoticia-5 h2 {
        font-size: 20px;
    }

    .textNoticia-5 {
        font-size: 18px;
    }

    /* noticia 6*/

    .noticia-6 {
        background-color: #FFF;
        box-shadow: 2px 2px rgb(0 0 0 / 20%);
        grid-column: 1/3;
        grid-row: 6/7;
    }

    .titleNoticia-6 h2 {
        font-size: 20px;
    }

    .textNoticia-6 {
        font-size: 18px;
    }

    .contCosechas{
        background-image: url(../../utils/images/Noticias/Cosechas/fondocosechascel.jpg);
        background-size: 100% 100%;
        height: 100vh;
        width: auto;
        margin: 20px;
        display: grid;
        gap: 5px;
        justify-content: center;
        align-items: center;
        grid-template-columns: repeat(2, 150px);
        grid-template-rows: repeat(6, 1fr);
        
    }

    .productosCosecha1, .productosCosecha2, .productosCosecha3, .productosCosecha4, .productosCosecha5, .productosCosecha6,
.productosCosecha7, .productosCosecha8, .productosCosecha9, .productosCosecha10, .productosCosecha11, .productosCosecha12,
.productosCosecha {
    width: 60px;
    height: 60px;
    padding: 5px;
    margin: 10px 35px;
}
}

/* PARA TABLET*/

@media only screen and (min-width:421px) and (max-width:768px) {
    .cardsNoticias{
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(800px 500px 800px 800px 800px 800px);
        gap: 15px;
        margin: 15px;
    }
    
    /* PARA LOS MODALES*/

    .modal-content h1 {
        font-size: 30px;
    }

    .modal-content p {
        font-size: 25px;
    }

    .modal-contentC h1 {
        font-size: 30px;
    }

    .modal-contentC p {
        font-size: 25px;
    }
    /* noticia 1*/

    .noticia-1{
        grid-row: 1/1;
        grid-column: 1/3;
        background-color: #02250f96;
        box-shadow: 2px 2px rgba(0, 0, 0, 0.2);
    }

    .titleNoticia-1 h2 {
        font-size: 30px;
    }
    .textNoticia-1 {
        font-size: 25px;
    }

    /* NOTICIA 2*/

    .noticia-2 {
        background-color: white;
        box-shadow: 2px 2px rgb(0 0 0 / 20%);
        grid-column: 1/3;
        grid-row: 2/3;
    }

    .titleNoticia-2 h2 {
        font-size: 30px;
    }

    /* NOTICIA 3*/

    .noticia-3 {
        grid-column: 1/3;
        grid-row: 3/4;
    }

    .titleNoticia-3 h2 {
        font-size: 30px;
    }

    /* NOTICIA 4*/

    .noticia-4 {
        background-color: #02250F;
        box-shadow: 2px 2px rgb(0 0 0 / 20%);
        grid-column: 1/3;
        grid-row: 4/5;
    }

    .titleNoticia-4 h2 {
        font-size: 30px;
    }
    .textNoticia-4 {
        font-size: 25px;
    }

    /* NOTICIA 5*/

    .noticia-5 {
        grid-column: 1/3;
    }

    .titleNoticia-5 h2 {
        font-size: 30px;
    }

    .textNoticia-5 {
        font-size: 25px;
    }

    /* noticia 6*/

    .noticia-6 {
        background-color: #FFF;
        box-shadow: 2px 2px rgb(0 0 0 / 20%);
        grid-column: 1/3;
        grid-row: 6/7;
    }

    .titleNoticia-6 h2 {
        font-size: 30px;
    }

    .textNoticia-6 {
        font-size: 25px;
    }

    /* ESTILOS PARA LOS BOTONES*/

    #myBtn, #myBtn2, #myBtn3, #myBtn4, #myBtn5, #myBtn6{
        padding: 4%;
        width: 200px;
        font-size: 25px;
    }


    .contCosechas{
        background-image: url(../../utils/images/Noticias/Cosechas/fondocosechascel.jpg);
        background-size: 100% 100%;
        height: 100vh;
        width: auto;
        margin: 20px;
        display: grid;
        gap: 5px;
        justify-content: center;
        align-items: center;
        grid-template-columns: repeat(2, 250px);
        grid-template-rows: repeat(4, 1fr);
        
    }

   .productosCosecha2,  .productosCosecha4, .productosCosecha6,
   .productosCosecha8, .productosCosecha10, .productosCosecha12,
.productosCosecha {
    width: 70px;
    height: 70px;
    padding: 5px;
    margin: 10px 35px 0 55px;
}

.productosCosecha1, .productosCosecha3, .productosCosecha5, .productosCosecha7, .productosCosecha9, .productosCosecha11{
    width: 70px;
    height: 70px;
    padding: 5px;
    margin: 10px 0 0 55px;
}
}

/* PARA PORTATIL*/

/* PARA TABLET*/

@media only screen and (min-width:769px) and (max-width:1024px) {

    .cardsNoticias{
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(800px 500px 800px 800px 800px 800px);
        gap: 15px;
        margin: 15px;
    }
    
    /* PARA LOS MODALES*/

    .modal-content h1 {
        font-size: 35px;
    }
    .modal-contentC h1 {
        font-size: 35px;
    }
    .modal-content p {
        font-size: 28px;
    }
    .modal-contentC p {
        font-size: 28px;
    }

    /* noticia 1*/

    .noticia-1{
        grid-row: 1/1;
        grid-column: 1/3;
        background-color: #02250f96;
        box-shadow: 2px 2px rgba(0, 0, 0, 0.2);
    }

    .titleNoticia-1 h2 {
        font-size: 35px;
    }
    .textNoticia-1 {
        font-size: 28px;
    }

    /* NOTICIA 2*/

    .noticia-2 {
        background-color: white;
        box-shadow: 2px 2px rgb(0 0 0 / 20%);
        grid-column: 1/3;
        grid-row: 2/3;
    }

    .titleNoticia-2 h2 {
        font-size: 35px;
    }

    /* NOTICIA 3*/

    .noticia-3 {
        grid-column: 1/3;
        grid-row: 3/4;
    }

    .titleNoticia-3 h2 {
        font-size: 35px;
    }

    /* NOTICIA 4*/

    .noticia-4 {
        background-color: #02250F;
        box-shadow: 2px 2px rgb(0 0 0 / 20%);
        grid-column: 1/3;
        grid-row: 4/5;
    }

    .titleNoticia-4 h2 {
        font-size: 35px;
    }
    .textNoticia-4 {
        font-size: 28px;
    }

    /* NOTICIA 5*/

    .noticia-5 {
        grid-column: 1/3;
    }

    .titleNoticia-5 h2 {
        font-size: 35px;
    }

    .textNoticia-5 {
        font-size: 28px;
    }

    /* noticia 6*/

    .noticia-6 {
        background-color: #FFF;
        box-shadow: 2px 2px rgb(0 0 0 / 20%);
        grid-column: 1/3;
        grid-row: 6/7;
    }

    .titleNoticia-6 h2 {
        font-size: 35px;
    }

    .textNoticia-6 {
        font-size: 28px;
    }

    /* ESTILOS PARA LOS BOTONES*/

    #myBtn, #myBtn2, #myBtn3, #myBtn4, #myBtn5, #myBtn6 {
        padding: 4%;
        width: 200px;
        font-size: 25px;
        
    }

    .contCosechas{
        grid-template-columns: repeat(3, 250px);
        grid-template-rows: repeat(4, 1fr);
        
    }

.productosCosecha2, .productosCosecha3,  .productosCosecha5, .productosCosecha6,
 .productosCosecha8, .productosCosecha9, .productosCosecha10, .productosCosecha11, .productosCosecha12,
.productosCosecha {
    width: 100px;
    height: 100px;
    margin: 10px 35px;
    justify-content: center;

}

.productosCosecha1, .productosCosecha4, .productosCosecha7, .productosCosecha10 {
    width: 100px;
    height: 100px;
    margin: 10px 0 0 80px;
}
}
