
@media (max-width:1024px) {

    .MenuNav label{
        display: block;
    }
    
    .NavBar{
        position: absolute;
        background: #041C0D;
        width: 60%;
        margin-left: -80%;
        transition: all 0.5s;
        z-index: 2;
    }

    .NavBar .List{
        flex-direction: column;
    }

    .NavBar .LiMenu{
        margin: 0;
        padding: 15px;
        border: 1px solid #77e762;
    }

    #btn-menu:checked ~ .NavBar{
        margin: 0;
    }
}


@media only screen and (max-width: 768px) {
    .container {
      flex-direction: column;
      width: 100%;
      margin: 0 20px;
    }
    .left {
      width: 100%;
      height: 400px;
    }
    .right {
      width: 90%;
      margin: 0;
      margin-top: -100px;
    }
  }

  
@media only screen and (max-width:600px)
{
  .porcentaje{
      height: auto;
      margin-left: 30px;
      flex-flow: row wrap;
  }
} 

@media screen and (max-width: 1068px){
  .container{
      max-width: 80rem;
      min-width: 70rem;
  }
  
}

@media screen and (max-width: 868px){

  .container{
      max-width: 80rem;
  }
}
@media screen and (max-width: 768px){

  .container{
      padding: 2.5rem;
      flex-direction: row;
      margin-top: 20px;
  }
}