
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
/*font-family: 'Playfair Display', serif;/

@import url('https://fonts.googleapis.com/css2?family=Alice&family=Playfair+Display&display=swap');
/*font-family: 'Alice', serif;*/

body,html{
  margin: 0;
  padding: 0;
}


/*ESTILOS DEL MENÚ*/
.MenuNav{
  font-family: 'Playfair Display', serif;
  background: #041C0D;
  width: 100%;
  position: absolute;
}

#btn-menu{
  display: none;
}

.MenuNav label{
  display: none;
  width: 30px;
  height: 30px;
  padding: 5px;
}

.MenuNav label i{
  color: white;
  font-size: 25px;
}

.MenuNav label:hover{
  cursor: pointer;
  background: rgba(0, 0,0, 0.3);
  border-right: 1px solid #77e762;
  margin: 0;
  height: auto;
  width: 10%;
}

.NavBar .List{
  margin: 0;
  width: 100%;
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: flex-end;
}

.NavBar .LiMenu{
  margin: 15px 0 15px 0;
}

.NavBar .LiMenu a{
  display: block;
  padding:1px 20px;
  color: #77e762;
  text-decoration:none;
  text-transform: uppercase;
}

.NavBar .LiMenu a:hover{
  color: white;
}


.contenedorNoticias{
  background-color: #7DAC4E;
  border: 3px solid black;
  width: 100%;
  height: 100%;
}

/*Estilos contenedor*/
.container_formulario {
  background-color: #7DAC4E;
  margin-top: 3%;
  width: 100%;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center; 
  margin-bottom: 3%;
}

/*ESTILOS DE LA IMAGEN*/
.left {
  margin-top: 5%;
  width: 35%;
  height: 100%;
  background: url('../../utils/images/Estudio/fondo.jpg')
  no-repeat center / cover;
  border-radius: 9px;
  margin-bottom: 5%;
}
/*ESTILOS DE EL CONTENEDOR DERECHO*/
.right {
  width: 50%;
  min-height: 400px;
  background-color: #055209;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 25px;
  border-radius: 35px;
  color: white;
  margin-left: -150px;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.16);
  font-family: 'Playfair Display', serif;
}
/*ESTILOS DEL TEXTO*/
.right h1 {
  font-size: 40px;
  font-weight: lighter;
  text-align: center;
}
.right p {
  font-family: 'Alice', serif;
  margin: 20px 0;
  font-weight: 500;
  line-height: 25px;
  text-align: center;
  font-size: 25px;
}
.right a {
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 3px;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.16);
  background-color: rgb(38, 150, 10);
  color: black;
  margin-left: 35%;
  padding: 20px 30px;
  display: inline-block;
  letter-spacing: 2px;
  text-align: center;
  align-items: center;
}
.right :hover{
  color: rgb(183, 255, 183);
}

/*----------------------------------------------FIN SECCIÓN DEL FORMULARIO------------------------------------*/


/*----------------------------------------------ESTILOS DE LAS ESTADISTICAS------------------------------------*/
/* ESTILOS DE TITULOS Y GRÁFICAS DE PORCENTAJE*/
.estudioTitle{
  height: 5%;
  text-align: justify;
  justify-content: center;
  padding-left: 5rem;
  margin: 3%;
  padding-top: 40px;
  padding-bottom: 1%;
}

.estudioTitle h1{
  text-align: center;
  background-color: #02250F;
  padding: 2%;
  border-radius: 10px;
  color: #fff;
  font-size: 35px;
  font-family: 'Playfair Display', serif;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.estudioTitle p{
  margin-top: 30px;
  padding: 5px;
  display: flex;
  text-align: justify;
  font-family: 'Alice', serif;
  font-size: 25px;
  justify-content: center;
}

.porcentaje{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
  background: rgb(3, 88, 21);
}

.container{
  position: relative;
  width: 960px;
  display: flex;
  justify-content: space-around;
}

.container .card{
  position: relative;
  width: 250px;
  background-color: rgba(0,0,0,0.5);
  display: flex;
  justify-content:center;
  align-items: center;
  height: 330px;
  border-radius: 10px;
  cursor: pointer;
  text-align: center;
  transition: 0.3s;
  margin-top: 23px;
}
.container .card:hover{
  transform: translateY(-10px);
  box-shadow: 0 15px 35px rgba(0,0,0,0.5);
}

.container .card::before{
  content: '';
  position: absolute;
  top: 0;
  left: -50;
  width: 100%;
  height:100%;
  background: white;
  pointer-events: none;
  z-index: 1;
}
.porcent{
  position: relative;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  box-shadow: inset 0 0 50px #fff;
  background: rgb(255,255,255);
  z-index: 1000;
}

.porcent .number{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content:center;
  align-items: center;
  border-radius: 50%;

}
.porcent .number h2{
  color: #000;
  font-weight: 700;
  font-size: 40px;
  transition: 0.5s;
}

.card:hover .porcent .number h2{
  color: rgb(0,0,0);
  font-size: 53px;
}
.porcent .number h2 span{
  color: rgb(0,0,0);
}

.text{
  position: relative;
  color: rgb(0,0,0);
  margin-top: 20px;
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 2px;
  text-transform: uppercase;
  transition: 0.5s;
  font-family: 'Playfair Display', serif;
}

svg{
  position: relative;
  width: 150px;
  height: 150px;
  transform: rotate(-85deg)!important;
}

svg circle{
  width: 100%;
  height: 100%;
  fill: none;
  stroke: rgb(0,0,0);
  stroke-width: 10;
  stroke-linecap: round !important;
  transform: translate(5px, 5px);
}

/*CÁLCULO PARA SIMULAR EL PORCENTAJE*/
svg circle:nth-child(2){
  stroke-dasharray: 440;
  stroke-dashoffset: 440;
}

.card:nth-child(1) svg circle:nth-child(2){
  stroke-dashoffset: calc(440 - (440 * 80)/100);
  stroke: #6df03a;
}
.card:nth-child(2) svg circle:nth-child(2){
  stroke-dashoffset: calc(440 - (440 * 60)/100);
  stroke: #6df03a;
}
.card:nth-child(3) svg circle:nth-child(2){
  stroke-dashoffset: calc(440 - (440 * 30)/100);
  stroke: #6df03a;
}



.card-father{
  padding-left: 15%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: #7DAC4E;
}

/*EFECTO 3D DE LA CARD*/
.flip-card {
  background-color: transparent;
  width: 500px;
  height: 350px;
  perspective: 1000px;
  
}

/* ESTE CONTENEDOR ES NECESARIO PARA COLOCAR EL ANVERSO Y EL REVERSO */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  flex-direction: row;
}

/* HACER EL GIRO HORIZONTAL AL MOMENTO DE PONER EL CURSOR ENCIMA DEL CARD */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* POSICIÓN DE LA CARD DE FRENTE Y DETRÁS */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* ESTILOS DE LA PARTE DELANTERA */
.flip-card-front {
  width: 500px;
  height: 350px;
  background-color: rgb(138, 228, 135);
  color: black;
}

.flip-card-front img{
  width: 500px;
  height: 350px;
}

/* ESTILOS DE LA PARTE DE ATRÁS */
.flip-card-back {
  width: 100%;
  font-size: 25px;
  font-family: 'Alice', serif;
  background-color: rgb(0, 133, 77);
  color: white;
  transform: rotateY(180deg);
  text-align: justify;
}

.flip-card-back p{
  margin-top: 3%;
  width: 80%;
  margin-left: 9%;
}

/*ESTILOS DE ESTADISTICAS*/

.grafica{
  width: 100%;
  height: 100%;
  background-color: #7DAC4E;
  padding: 40px 80px;
  
}

.estadisticas{ 
  display: flex;
}

.Información{
  width: 50%;
  display: flex;
  flex-direction: column;
}

.chart-wrap {
  width:var(--chart-width);
  margin-top: 15%;
  --chart-width:420px;
  --grid-color:rgb(15, 88, 0);
  --bar-color:#02e29f;
  --bar-thickness:40px;
  --bar-rounded: 3px;
  --bar-spacing:15px;
  font-family: 'Alice', serif;
}

.chart-wrap .title{
  font-weight:bold;
  padding:1.8em 0;
  text-align:center;
  white-space:nowrap;
}

/* cuando definimos el gráfico en horizontal, lo giramos 90 grados */
.chart-wrap.horizontal .grid{
  transform:rotate(-90deg);
}

.chart-wrap.horizontal .bar::after{
  /* giramos las letras para horizontal*/
  transform: rotate(45deg);
  padding-top:0px;
  display: block;
}

.chart-wrap .grid{
  position:relative;
  padding:5px 0 5px 0;
}

/* posicionamos el % del gráfico*/
.chart-wrap .grid::before{
  font-size:0.8em;
  font-weight:bold;
  content:'0%';
  position:absolute;
  left:-0.5em;
  top:-1.5em;
}
.chart-wrap .grid::after{
  font-size:0.8em;
  font-weight:bold;
  content:'100%';
  position:absolute;
  right:-1.5em;
  top:-1.5em;
}

/* giramos las valores de 0% y 100% para horizontal */
.chart-wrap.horizontal .grid::before, .chart-wrap.horizontal .grid::after {
  transform: rotate(90deg);
}

.chart-wrap .bar {
  width: var(--bar-value);
  height:var(--bar-thickness);
  margin:var(--bar-spacing) 0;
  background-color:var(--bar-color);
  border-radius:1 var(--bar-rounded) var(--bar-rounded) 0;
}

.chart-wrap .bar:hover{
  opacity:0.8;
}

.chart-wrap .bar::after{
  content:attr(data-name);
  margin-left:100%;
  padding:10px;
  display:inline-block;
  white-space:nowrap;
}

/*ESTILOS DEL FOOTER*/

footer{
  border-top: 5px solid rgb(145, 236, 145);
  background-color:#08110b;
  height: 20%;
  width: 100%;
  display: flex;
}

.cajitafooter{
  padding: 1%;
  display: flex;
  justify-content: flex-start;
}

.cajitafooter img{
margin-left: 3%;
width: 7%;
}

.cajitafooter .frase{
  width: 90%;
  color: #77e762;
  font-size: 18px;
  font-family: 'Playfair Display', serif;
  text-transform: uppercase;
  margin: 2% 0 0 2%;

}

.RedesSociales{
margin-top: 2%;
width: 47%;
justify-content: flex-end;
display: flex;
}

.RedesSociales img{
  margin-right: 10px;
  width: 32px;
  
}

.RedesSociales a{
  border-radius: none;
  color: none;
  text-decoration: none;
}

.frase{
  margin-left: 50%;
}

