/*IMPORTACIÓN DE FUENTES*/
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
/*font-family: 'Playfair Display', serif;*/

@import url('https://fonts.googleapis.com/css2?family=Alice&family=Playfair+Display&display=swap');
/*font-family: 'Alice', serif;*/


body,html{
    margin: 0;
    padding: 0;
}


#frutas{
    background: #02250F;
    padding-top: 50px;
    width: 100%;
    height: 100%;
}

.titleFruit{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2%;
}

.titleFruit h1{
    background-color: #7DAC46;
    padding: 10px 3% 10px 3%;
    border-radius: 20px;
    font-family: 'Playfair Display', serif;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #02250F;
}

.contentFruits{
    border:1px solid red;
    width: auto;
}

.contentCards{
 margin: 30px;
 padding: 10px;
 border: 1px solid blue;
 display: grid;
 grid-template-columns: 50% 50% ;
 grid-template-rows: 550px ;
 align-items: center;

}

.contentCards .card{
    position: relative;
    height: 500px;
    background: #fafafa;
    display: flex;
    width: 350px;
    margin: 30px 0 0 25%;
    border-radius: 20px;
    box-shadow: 0 5px 15px rgba(0,0,0, 1);
}

.contentCards .card .imgBx{
    background: rgb(211, 203, 224, 0.1);
    margin-right: 50px;
    width: 95%;
    height: 95%;
    position: absolute;
    top: 15px;
    left: 12px;
    backdrop-filter: blur(20px);
    height: calc(100%-20px);
    width: calc(100%-20px);
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 20px;
    border: 1px solid rgba(255,255,255, 0.2);
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.1);
    transition: 0.5s ease-in-out;

}

.contentCards .card:hover .imgBx{
    right: 50px;
    top:200px;
    height: 200px;
    width: 150px;
    left: -100px;
    top: calc(50%-75px);
}

.contentCards .card .imgBx img{
    max-width: 150px;
    transition: 0.5s ease-in-out;
}

.contentCards .card:hover .imgBx img{
    max-width: 95px;
}

.contentCards .card .content{
    position: absolute;
    right: 0;
    width: calc(100% - 75px);
    height: 100%;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contentCards .card .content h3{
    margin-top: 25px;
    margin-bottom: 5px;
    font-size: 25px;
}

.contentCards .card .content a{
    font-size: 20px;
    align-items: center;
    display: inline-block;
    text-align: center;
    margin-top: 10px;
    padding: 8px 20px;
    border-radius: 5px;
    text-decoration: none;
    color: black;
    font-weight: 500;
    width: 120px;
}

.content .contentCards h3{
    text-transform: uppercase;
    text-align: center;
    font-family: 'Playfair Display', serif;
}

#mora{
    color:rgb(104, 54, 221);
}

#pita{
    color: rgb(194, 194, 96);
}

#fresa{
    color:red;
}

#manda{
    color:orange;
}

#bana{
    color:rgb(230, 230, 87);
}

#guana{
    color:green;
}

.content .contentCards p li{
    margin-left: 15%;
    font-size: 20px;
    font-family: 'Alice', serif;
}


#BananaA{
    background: #dfdb15;
}

#MoraA{
    background: #8a47e2;
}

#PitahayaA{
    background: #a3a258;
}

#FresaA{
    background: #da4848;
}

#MandarinaA{
    background: #e97633;
}

#guanabanaA{
    background: #1b7a38;
}

@media (max-width:1024px){
    .contentCards{
        margin: 50px;
        padding: 10px;
        border: 1px solid blue;
        display: grid;
        grid-template-columns: 50%;
        grid-template-rows: 550px ;
        align-items: center;
       
    }

    .contentCards .card{
        width: 300px;
        height: auto;
        flex-direction: column;
        background: transparent;
        margin: -20px 0;
        box-shadow: none;

    }

    .contentCards .card .imgBx{
        position: relative;
    }

    .contentCards .card .imgBx, 
    .contentCards .card:hover .imgBx{
       width:80%;
       height: 200px;
       top: 100px;
       left: 10%;
    }

    .contentCards .card:hover .imgBx{
        top: 80px;
     }

     .card .imgBx img ,
    .card:hover .imgBx img{
       max-width:100px;
    }

    .contentCards .card .content{
        position: relative;
        width: 100%;
        background: white;
        box-shadow: none;
        border-radius: 20px;
        padding: 20px 50px 40px;
        border-top: 100px solid white;
    }

    .title{
        width: 55%;
        padding-right: 15%;
    
    }

    


}



