@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
/*font-family: 'Playfair Display', serif;*/

*{
    margin: 0;
    padding: 0;
}

body{
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}


/*ESTILOS DE LAS OFERTAS*/

.ContainerOfferts{
    position: relative;
    width: 1000px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 20px;
    padding: 20px 0;
    background: #7DAC46;
}



.TitleOffers{
    margin-top: 2%;
    margin-bottom: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 1%;
    border-radius: 5px;
    color: white;
    background: #02250f;
    width: 20%;
    text-align: center;
    font-size: 25px;
    font-family: 'Playfair Display', serif;

}


/*ESTILOS DE LAS CARTAS*/

.card img{
    width: 20%;
    height: 15%;
}

.ContainerOfferts .card{
    position: relative;
    height: 250px;
    background: white;
    display: flex;
    width: 45%;
    margin: 30px 0;
    border-radius: 20px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

.ContainerOfferts .card .imgBx{
    position: absolute;
    top:10px;
    left: 10px;
    background: rgba(243, 0, 0, 0.1);
    backdrop-filter: blur(20px);
    height: calc(100%-20px);
    width: calc(100%-20px);
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 20px;
    border: 1px solid rgba(238, 137, 137, 0.2);
    box-shadow: 5px 5px 30px rgba(0,0,0,0.1);
}