@media (max-width:1024px){
   /*FOOTER*/
.cajitafooter .frase {
    color: rgb(119, 231, 98);
    font-size: 11pX;
}

.cajitafooter{
    width: 50%;
}

.cajitafooter img{
    margin-left: 3%;
     width: 50px;
}

.RedesSociales{
margin-top: 2%;
width: 47%;
justify-content: flex-end;
display: flex;
    }

.RedesSociales img{
    margin-right: 10px;
    width: 19px;
    
}

    
    
    }

